.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.botao {
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: auto; 
}

.botao{
    background-color: #1A3A6A; /* Azul da marca */
    color: white;
}

.botao:hover{
    background-color: #152e55;
    box-shadow: 0 4px 15px rgba(26, 58, 106, 0.3);
}