.paginaContainer {
    max-width: 1200px; 
    padding: 30px;
    background-color: #ffffff; 
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.192); 
    border: 1px solid #E9ECEF; 
    position: relative;
    margin: 50px auto 0;
}

.titulo {
    position: absolute;
    top: -20px; 
    left: 24px;
    background-color: #FFD24D; 
    color: #5e5e5e;
    padding: 6px 16px;
    border-radius: 100px; 
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 0 2px 15px rgba(74, 145, 226, 0.432); 
}

.gridMaterias {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
}

.linkMateria {
    text-decoration: none; 
    color: inherit;
}