/* Container da sidebar */
.side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
}

.selectOp {
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 3rem;
}

.option {
    font-size: large;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    border: 1px solid #374151;
    cursor: pointer;
    color: white;
}

.optionSelect {
    background-color: #ececec !important;
    color: black !important;
    border: 2px solid #374151 !important;
}

.option:hover {
    background-color: #D6E3FF;
    color: black;
}

.aluno {
    background-color: #7998D6;
}

.professor {
    background-color: #4C6AA6;
}

.admin {
    background-color: #1A3A6A;
}


