.side{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 20px;
}

.logo{
    width: 250px;
}

.loginForm{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
}

input, .loginBtn{
    border: 1px solid #37415150;
    border-radius: 40px;
}

input{
    width: 90%;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px; 
    background-color: #ececec !important;
}

.loginBtn{
    border: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 30%;
    margin-top: 8px;
    background-color: #1A3A6A; 
    color: white;
}

.loginBtn:hover{
    background-color: #f0b001;
    box-shadow: 0px 0px 20px #ffd0009a;
}

.email:hover, .password:hover{
    background-color: #d6d6d6;
}

.email:focus, .password:focus{
    border: 1px solid #747474;
    outline: none;
}

.erro{
    color: red;
    font-size: 14px;
    margin: -10px 0 2px 5px;
    height: 14px;
}

.loading{
    color: #1A3A6A;
    font-size: 14px;
    margin: -10px 0 2px 5px;
    height: 14px;
}

.sucesso{
    color: green;
    font-size: 14px;
    margin: -10px 0 2px 5px;
    height: 14px;
}


.esqueceuSenha{
    border: none;
    background-color: transparent;
    align-self: flex-start;
    color: #747474;
    text-decoration: none;
}

.esqueceuSenha:hover{
    color: rgb(0, 0, 44);
}