.cardContainer {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: #1A3A6A;
  border: 1px solid #e9ecef;
  border-radius: 12px;
  padding: 16px 20px;
  text-align: left;
  cursor: pointer;
  transition: all 0.25s ease;
}

.cardContainer:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  border-color: #dee2e6;
}

.icone {
  font-size: 1.8rem;
  background-color: #eeeeee69;
  color: #1A3A6A; /* Azul da marca */
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

.info {
  flex-grow: 1; /* Ocupa o espaço disponível */
}

.nomeProva {
  font-size: 1.2rem;
  font-weight: 700;
  color: #e7e7e7;
  margin: 0 0 4px 0;
}

.infoTurma {
  font-size: 0.95rem;
  color: #adadad;
  margin: 0;
}
.infoTurma strong {
  color: #c4c4c4;
}

.seta {
  font-size: 1.2rem;
  color: #e0e0e0;
}

.bimestre{
    text-transform: capitalize;
}